
.container {
    max-width: 600px !important;
    margin: auto;
    margin-top: 3rem;
    padding: 1rem;
}

.textField {
    margin-bottom: 1rem  !important;
}

.title{
    font-size: large;
     margin-bottom: 1rem  !important;
}

.button {
    margin-top: 1rem !important;
}